body {
    font-family: Arial, sans-serif;
    text-align: center;
}
#hangman {
    font-size: 48px;
}
.hangman-container {
    display: flex;
    justify-content: center;
}
.hangman-part {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin: 0 5px;
    background-color: white;
}
.containerText{
margin: 25px 0 25px 0;
background-color: white;
display: grid;
transform: translate(455%,0%);
justify-content: center;
text-align: center;
width: 180px;
height: auto;
padding: 5px;
}
.back-button3 {
    display: inline-block; /* Nastaví odkaz jako blokový prvek */
    padding: 10px 20px; /* Vnější okraje pro tlačítko */
    background-color: #008000; /* Zelená barva pozadí */
    color: white; /* Bílá barva textu */
    text-decoration: none; /* Odstraní podtržení textu */
    border: none; /* Odstraní ohraničení */
    border-radius: 5px; /* Zaoblené hrany */
    cursor: pointer; /* Kurzor ukazuje na odkaz */
}
.nadpis {
    color:white;
}
